.content-wrapper {
  margin: 16px 0;
  .content-body-wrapper {
    padding: 24px 12px;
    border-radius: 4px;
    background-color: var(--app-content-secondary-color);
    box-shadow: var(--filter-shadow);
  }
}
